.accept-box {
    display: flex;
    align-items: center;
    margin: auto; 
    font-size: 15px;
}

.options {
    padding-top: 15px;
    margin: auto;
    font-size: 13px;
}
p{
    font-size:12px;
}

.copyright {
    font-size: 12px;
    color:#750951;
}

.pwd-format {
    position: relative;
    color: rgb(77, 29, 29);
    background: rgb(243, 234, 243);
    font-size: 11px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    top: 112px;
    right: -81px;
    z-index: 2;
    display: none;
}
